[submodule "Dependencies/imgui-beef"]
	path = Dependencies/imgui-beef
	url = https://github.com/RogueMacro/imgui-beef.git
[submodule "Dependencies/RfgTools"]
	path = Dependencies/RfgTools
	url = https://github.com/rfg-modding/RfgTools.git
[submodule "Dependencies/Beef.Linq"]
	path = Dependencies/Beef.Linq
	url = https://github.com/xposure/Beef.Linq.git
[submodule "Dependencies/Common"]
	path = Dependencies/Common
	url = https://github.com/rfg-modding/NF_Common.git
[submodule "Dependencies/bon"]
	path = Dependencies/bon
	url = https://github.com/EinScott/bon.git
[submodule "Dependencies/nativefiledialog-beef"]
	path = Dependencies/nativefiledialog-beef
	url = https://github.com/jazzbre/nativefiledialog-beef.git
