[submodule "Dependencies/RfgToolsPlusPlus"]
	path = Dependencies/RfgToolsPlusPlus
	url = https://github.com/Moneyl/RfgToolsPlusPlus.git
[submodule "Dependencies/imgui"]
	path = Dependencies/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Dependencies/IconFontCppHeaders"]
	path = Dependencies/IconFontCppHeaders
	url = https://github.com/juliettef/IconFontCppHeaders.git
[submodule "Dependencies/im3d"]
	path = Dependencies/im3d
	url = https://github.com/john-chapman/im3d.git
[submodule "Dependencies/imgui-node-editor"]
	path = Dependencies/imgui-node-editor
	url = https://github.com/thedmd/imgui-node-editor.git
[submodule "Dependencies/tinyxml2"]
	path = Dependencies/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
[submodule "Dependencies/spdlog"]
	path = Dependencies/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Dependencies/imnodes"]
	path = Dependencies/imnodes
	url = https://github.com/Nelarius/imnodes.git