[submodule "Dependencies/RfgToolsPlusPlus"]
	path = Dependencies/RfgToolsPlusPlus
	url = https://github.com/Moneyl/RfgToolsPlusPlus.git
[submodule "Dependencies/imgui"]
	path = Dependencies/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Dependencies/IconFontCppHeaders"]
	path = Dependencies/IconFontCppHeaders
	url = https://github.com/juliettef/IconFontCppHeaders.git
[submodule "Dependencies/tinyxml2"]
	path = Dependencies/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
[submodule "Dependencies/spdlog"]
	path = Dependencies/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Dependencies/imnodes"]
	path = Dependencies/imnodes
	url = https://github.com/Nelarius/imnodes.git
[submodule "Dependencies/DirectXTex"]
	path = Dependencies/DirectXTex
	url = https://github.com/microsoft/DirectXTex.git
[submodule "lib"]
	path = lib
	url = https://github.com/Moneyl/RF-Viewer-Lib.git
[submodule "Dependencies/nativefiledialog"]
	path = Dependencies/nativefiledialog
	url = https://github.com/mlabbe/nativefiledialog.git
[submodule "Dependencies/imgui_markdown"]
	path = Dependencies/imgui_markdown
	url = https://github.com/juliettef/imgui_markdown.git
[submodule "Dependencies/tracy"]
	path = Dependencies/tracy
	url = https://github.com/wolfpld/tracy.git
[submodule "Dependencies/pugixml"]
	path = Dependencies/pugixml
	url = https://github.com/zeux/pugixml.git
